body {
    background-color: #f8f8f8;
}

.page_hd {
    padding: 2em 0;
    text-align: center;
}

.page_title {
    font-size: 34px;
    font-weight: 400;
    color: #3CC51F;
}

.page_desc {
    font-size: 14px;
    color: #888;
}

.container {
    padding: 10px;
}

